html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
img{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}
.left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    margin-top: -40%;
}
.divided {
   display: flex;
   align-items: center;
 }
.divider {
   flex-grow: 1;
   border-bottom: 2px solid black;
   margin: 0;
   width: 300px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    width: 400px;
    height: 100px;
}
ul.liste{
    list-style-type: disc;
}
footer{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: grey;
}
.container2{
    max-width: 1170px;
    margin: auto;
}